<div class="app">
  <h2>Porject Content Example</h2>

  <hr />
  <h4>Render Multi-slot</h4>
  <app-zippy-multislot>
    Bố em hút rất nhiều thuốc
    <ng-container ngProjectAs="[question]">
      <p>Mẹ em vứt cái gạt tàn</p>
      <p>Trong tù cảnh vật nên ther</p>
    </ng-container>
  </app-zippy-multislot>
  <hr />

  <h4>Render content following condition or render mutiple times</h4>
  <app-example-zippy>
    <button type="button" appExampleZippyToggle>
      Is content project cool?
    </button>
    <ng-template appExampleZippyContent>
      <div class="test-container">It depends on what you do with it</div>
    </ng-template>
  </app-example-zippy>

  <hr />
  <ng-container *ngIf="true">
    {{ title }}
  </ng-container>

  <hr />
  <hr />
  <h2>Dynamic Component</h2>
  <app-ad-banner [ads]="adService.getAds()"></app-ad-banner>

  <hr />
  <hr />
  <h2>Angular Element</h2>

  <input #input value="Message" />
  <button type="button" (click)="popup.showAsComponent(input.value)">
    Show as component
  </button>
  <button type="button" (click)="popup.showAsElement(input.value)">
    Show as element
  </button>

  <hr />
  <hr />
  <h2>Attribute Binding Element</h2>
  <p [attr.test]="hiddenTag">Binding attribute hidden</p>

  <!-- create and set an aria attribute for assistive technology -->
  <button type="button" [attr.aria-label]="actionName">
    {{ actionName }} with Aria
  </button>

  <!--  expression calculates colspan=2 -->
  <tr>
    <td [attr.colspan]="1 + 1">One-Two</td>
  </tr>

  <hr />
  <hr />
  <h2>Class binding</h2>

  <button (click)="toggleSquare()">Show square</button>
  <div [class.square-100]="isShowSquare">Square here !</div>
  <br />
  <div [class]="{ 'square-100': isShowSquare, 'fill-red': isFillRed }">
    Mutil class binding
  </div>

  <hr />
  <hr />
  <h2>Style binding</h2>
  <div
    [style.width]="'100px'"
    [style.height.rem]="'8'"
    [style.background-color]="isShowSquare ? 'red' : 'green'"
  >
    Single style binding !
  </div>

  <br />

  <div
    style="width: 200px; height: 200px"
    [style]="{ backgroundColor: isShowSquare ? 'pink' : 'yellow' }"
  >
    Multiple style binding !
  </div>
  <br />

  <hr />
  <hr />
  <h2>Click with directive</h2>
  <div clickable1 (myClick)="clickMessageThroughDirective($event)">
    Click with my click '{{ clickMessage1 }}'
  </div>

  <hr />
  <h2>Binding to keyboard event</h2>
  <input type="text" (keydown.shift.t)="onKeydown($event)" />
  <h2>Binding to keyboard event by code</h2>
  <input (keydown.code.shiftleft)="onKeydown($event)" />

  <hr />
  <hr />
  <h2>To way binding (Option 1)</h2>
  <app-sizer
    [(size)]="fontSizePx"
  ></app-sizer>

  <label
    >Fontsize (px):
    <input type="text" id="input_size" [(ngModel)]="fontSizePx" />
  </label>
</div>
